<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
  	<bean id="personDao" class="com.itheima12.spring.aop.xml.time.dao.impl.PersonDaoImpl"></bean>
  	<bean id="personService" class="com.itheima12.spring.aop.xml.time.service.impl.PersonServiceImpl">
  		<property name="personDao">
  			<ref bean="personDao"/>
  		</property>
  	</bean>
  	<bean id="personAction" class="com.itheima12.spring.aop.xml.time.action.PersonAction">
  		<property name="personService">
  			<ref bean="personService"/>
  		</property>
  	</bean>
  	
  	<bean id="timeAspect" class="com.itheima12.spring.aop.xml.time.aspect.TimeAspect"></bean>
  	
  	<aop:config>
  		<aop:pointcut 
  			expression="execution(* com.itheima12.spring.aop.xml.time..*.*(..))" 
  			id="perform"/>
  		<aop:aspect ref="timeAspect">
  			<aop:around method="methodExecutionTime" pointcut-ref="perform"/>
  		</aop:aspect>
  	</aop:config>
</beans>